In [3]:
import pandas as pd
import numpy as np

In [2]:
def job_scheduling(arr, t):
 
    # length of array
    n = len(arr)
 
    # Sort all jobs according to
    # decreasing order of profit
    for i in range(n):
        for j in range(n - 1 - i):
            if arr[j][2] < arr[j + 1][2]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
 
    # To keep track of free time slots
    result = [False] * t
 
    # To store result (Sequence of jobs)
    job = ['-1'] * t
 
    # Iterate through all given jobs
    for i in range(len(arr)):
 
        # Find a free slot for this job
        # (Note that we start from the
        # last possible slot)
        for j in range(min(t - 1, arr[i][1] - 1), -1, -1):
 
            # Free slot found
            if result[j] is False:
                result[j] = True
                job[j] = arr[i][0]
                break
 
    # print the sequence
    print(job)
 
 
# Driver's Code
if __name__ == '__main__':
    arr = [['a', 2, 100],  # Job Array
              ['b', 1, 19],
              ['c', 2, 27],
              ['d', 1, 25],
              ['e', 3, 15]]
 
 
    print("Following is maximum profit sequence of jobs")
 
    # Function Call
    printJobScheduling(arr, 3)

Following is maximum profit sequence of jobs
['c', 'a', 'e']

In [ ]:
arr = [['A', 2, 100],  # Job Array
              ['B', 1, 19],
              ['c', 2, 27],
              ['d', 1, 25],
              ['e', 3, 15]]
printJobScheduling()

In [46]:
def job_sequencing(job_id, profit, deadline, timeslots):
    jobs_df = pd.DataFrame(np.array([job_id, profit, deadline]).T, columns=['Jobs ID', 'Profit', 'Deadline'])
    
    #sorting by profit
    jobs_df.sort_values(by=['Profit', 'Jobs ID'], ascending=[False, True], inplace=True)
    display(jobs_df)
    
    print(f'\nTime Slots available: {timeslots}')
    
    t_list = [False]*timeslots
    
    job_seq = ['-1']*timeslots
    
    for i in range(len(job_id)):
 
        # Find a free slot for this job
        # (Note that we start from the
        # last possible slot)
        for j in range(min(timeslots - 1, int(jobs_df.iloc[i]['Deadline']) - 1), -1, -1):
 
            # Free slot found
            if not t_list[j]:
                t_list[j] = True
                job_seq[j] = jobs_df.iloc[i]['Jobs ID']
                break
    job_seq = [x for x in job_seq if x != '-1']
    slot_df = pd.DataFrame(columns=['Job', 'Slot Assigned', 'Sequence', 'Profit'])
    profit =0
    seq = ''
    for job in jobs_df.values:
        j_id = f"Job-{job[0]}"
        s_a = "Rejected as deadline can’t be met" if job[0] not in job_seq else f"{job_seq.index(job[0])}-{job_seq.index(job[0])+1}"
            
        seq = seq if job[0] not in job_seq else f"{job_seq[:job_seq.index(job[0])+1]}"
        
        profit_str = str(profit) if job[0] not in job_seq else f"{profit} + {job[1]} = {profit+int(job[1])}"
            
        if job[0] in job_seq:
            profit += int(job[1])
            
        slot_df.loc[len(slot_df.index)] = [j_id, s_a, seq, profit_str] 
    
    display(slot_df)
    
    print(f'\nJob Sequence is {job_seq}')
    print(f'\nMaximum Profit is {profit}')

In [47]:
job_id = [1,2,3,4,5]
profit = [20,15,10,5,1]
deadline = [2,2,1,3,3]
timeslots=3
job_sequencing(job_id, profit, deadline, timeslots)

   Jobs ID  Profit  Deadline
0        1      20         2
1        2      15         2
2        3      10         1
3        4       5         3
4        5       1         3

Time Slots available: 3

     Job                      Slot Assigned   Sequence        Profit
0  Job-1                                1-2     [2, 1]   0 + 20 = 20
1  Job-2                                0-1        [2]  20 + 15 = 35
2  Job-3  Rejected as deadline can’t be met        [2]            35
3  Job-4                                2-3  [2, 1, 4]   35 + 5 = 40
4  Job-5  Rejected as deadline can’t be met  [2, 1, 4]            40

Job Sequence is [2, 1, 4]

Maximum Profit is 40

In [48]:

job_id = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
deadline = [4, 3, 1, 4, 3, 1, 4, 6, 8, 2, 7]
profit = [40, 50, 20, 30, 50, 30, 40, 10, 60, 20, 50]
timeslots=7
job_sequencing(job_id, profit, deadline, timeslots)

   Jobs ID Profit Deadline
8        I     60        8
1        B     50        3
4        E     50        3
10       K     50        7
0        A     40        4
6        G     40        4
3        D     30        4
5        F     30        1
2        C     20        1
9        J     20        2
7        H     10        6

Time Slots available: 7

,Job,Slot Assigned,Sequence,Profit
0,Job-I,6-7,"['G', 'E', 'B', 'A', 'H', 'K', 'I']",0 + 60 = 60
1,Job-B,2-3,"['G', 'E', 'B']",60 + 50 = 110
2,Job-E,1-2,"['G', 'E']",110 + 50 = 160
3,Job-K,5-6,"['G', 'E', 'B', 'A', 'H', 'K']",160 + 50 = 210
4,Job-A,3-4,"['G', 'E', 'B', 'A']",210 + 40 = 250
5,Job-G,0-1,['G'],250 + 40 = 290
6,Job-D,Rejected as deadline can’t be met,['G'],290
7,Job-F,Rejected as deadline can’t be met,['G'],290
8,Job-C,Rejected as deadline can’t be met,['G'],290
9,Job-J,Rejected as deadline can’t be met,['G'],290
10,Job-H,4-5,"['G', 'E', 'B', 'A', 'H']",290 + 10 = 300

Job Sequence is ['G', 'E', 'B', 'A', 'H', 'K', 'I']

Maximum Profit is 300